.diary-notes {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
  font-family: inherit;
  background-color:mintcream;
  height: 100vh;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.diary-content {
  display: block;
  height: 70vh;
}

.notes-inner {
  float: left;
  width: 52%;
  height: 100%;
  padding: 50px;
  border: 1px solid rgb(11, 116, 93);
}

.image-inner {
  float: right;
  width: 37%;
}

.images-div {
  margin-left: 2em;
  width: 280px;
  height: 250px;
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  float: right;
  margin-left: 50vw;
  margin-right: 1em;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
